In [1]:
import os
import pickle
import gzip
import pandas as pd
import numpy as np

In [2]:
import TimeSeriesTransforms as tstf

In [3]:
nanis = -1

```
1) unit number
2) time, in cycles
3) operational setting 1
4) operational setting 2
5) operational setting 3
6) sensor measurement 1
7) sensor measurement 2
...
26) sensor measurement 26
```

In [4]:
colnames = ['unitdex', 'time', 'control0', 'control1', 'control2',
            'x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9',
            'x10', 'x11', 'x12', 'x13', 'x14', 'x15', 'x16', 'x17', 'x18', 'x19',
            'x20', 'x21', 'x22', 'x23', 'x24', 'x25']

In [5]:
fnames = ['train_FD001.txt']

In [6]:
dlist = []
unitdexmax = 0
for fnametemp in fnames:
    dtemp = pd.read_csv(open(os.getcwd() + '/CMAPSSData/' + fnametemp),
                        header = None, sep = ' ', names = colnames)
    print ('fnametemp:', fnametemp, 'loaded', len(dtemp))
    
    if unitdexmax > 0:
        dtemp.loc[:, 'unitdex'] += unitdexmax
    unitdexmax = np.max(np.array(dtemp.loc[:, 'unitdex'], dtype = int))
    print ('unitdexmax:', unitdexmax)
    
    dlist.append(dtemp.copy())
d = pd.concat(dlist)

fnametemp: train_FD001.txt loaded 20631
unitdexmax: 100

In [7]:
len(d)

20631

In [8]:
d.head(5)

,unitdex,time,control0,control1,control2,x0,x1,x2,x3,x4,...,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,392,2388,100.0,39.06,23.4190,NaN,NaN,NaN,NaN,NaN
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,392,2388,100.0,39.00,23.4236,NaN,NaN,NaN,NaN,NaN
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,390,2388,100.0,38.95,23.3442,NaN,NaN,NaN,NaN,NaN
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,392,2388,100.0,38.88,23.3739,NaN,NaN,NaN,NaN,NaN
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,393,2388,100.0,38.90,23.4044,NaN,NaN,NaN,NaN,NaN

In [9]:
d.tail(5)

,unitdex,time,control0,control1,control2,x0,x1,x2,x3,x4,...,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,397,2388,100.0,38.49,22.9735,NaN,NaN,NaN,NaN,NaN
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,395,2388,100.0,38.30,23.1594,NaN,NaN,NaN,NaN,NaN
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,398,2388,100.0,38.44,22.9333,NaN,NaN,NaN,NaN,NaN
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,395,2388,100.0,38.29,23.0640,NaN,NaN,NaN,NaN,NaN
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,396,2388,100.0,38.37,23.0522,NaN,NaN,NaN,NaN,NaN

In [10]:
for colname in colnames:
    print ('colname:', colname, 'has non-nan value counts:', np.sum(1-np.isnan(np.array(d[colname]))))

colname: unitdex has non-nan value counts: 20631
colname: time has non-nan value counts: 20631
colname: control0 has non-nan value counts: 20631
colname: control1 has non-nan value counts: 20631
colname: control2 has non-nan value counts: 20631
colname: x0 has non-nan value counts: 20631
colname: x1 has non-nan value counts: 20631
colname: x2 has non-nan value counts: 20631
colname: x3 has non-nan value counts: 20631
colname: x4 has non-nan value counts: 20631
colname: x5 has non-nan value counts: 20631
colname: x6 has non-nan value counts: 20631
colname: x7 has non-nan value counts: 20631
colname: x8 has non-nan value counts: 20631
colname: x9 has non-nan value counts: 20631
colname: x10 has non-nan value counts: 20631
colname: x11 has non-nan value counts: 20631
colname: x12 has non-nan value counts: 20631
colname: x13 has non-nan value counts: 20631
colname: x14 has non-nan value counts: 20631
colname: x15 has non-nan value counts: 20631
colname: x16 has non-nan value counts: 20631
colname: x17 has non-nan value counts: 20631
colname: x18 has non-nan value counts: 20631
colname: x19 has non-nan value counts: 20631
colname: x20 has non-nan value counts: 20631
colname: x21 has non-nan value counts: 0
colname: x22 has non-nan value counts: 0
colname: x23 has non-nan value counts: 0
colname: x24 has non-nan value counts: 0
colname: x25 has non-nan value counts: 0

In [11]:
d = d.loc[:, d.columns.values[:26]]

In [12]:
d.head(5)

,unitdex,time,control0,control1,control2,x0,x1,x2,x3,x4,...,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [13]:
d.tail(5)

,unitdex,time,control0,control1,control2,x0,x1,x2,x3,x4,...,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [14]:
covcolnames = d.columns.values[2:]
minvals = np.zeros(len(covcolnames))
maxvals = np.zeros(len(covcolnames))
coldex = 0
for colntemp in covcolnames:
    coltemp = d.loc[:, colntemp]
    mintemp, maxtemp = min(coltemp), max(coltemp)
    minvals[coldex], maxvals[coldex] = mintemp, maxtemp
    coldex += 1
dscaling = pd.DataFrame({'min': minvals,
                         'max': maxvals},
                        index = d.columns.values[2:])
dscaling

                max        min
control0     0.0087    -0.0087
control1     0.0006    -0.0006
control2   100.0000   100.0000
x0         518.6700   518.6700
x1         644.5300   641.2100
x2        1616.9100  1571.0400
x3        1441.4900  1382.2500
x4          14.6200    14.6200
x5          21.6100    21.6000
x6         556.0600   549.8500
x7        2388.5600  2387.9000
x8        9244.5900  9021.7300
x9           1.3000     1.3000
x10         48.5300    46.8500
x11        523.3800   518.6900
x12       2388.5600  2387.8800
x13       8293.7200  8099.9400
x14          8.5848     8.3249
x15          0.0300     0.0300
x16        400.0000   388.0000
x17       2388.0000  2388.0000
x18        100.0000   100.0000
x19         39.4300    38.1400
x20         23.6184    22.8942

In [15]:
pickle.dump(dscaling, gzip.open('dscaling.pkl4', 'wb'))

In [16]:
dscaling = pickle.load(gzip.open('dscaling.pkl4', 'rb'))

In [17]:
for colname in dscaling.index.values:
    mintemp = .9*dscaling.loc[colname, 'min']
    maxtemp = 1.1*dscaling.loc[colname, 'max']
    rangetemp = maxtemp - mintemp
    d.loc[:, colname] = 2*((d.loc[:, colname] - mintemp) / rangetemp) - 1

In [18]:
d.head(5)

,unitdex,time,control0,control1,control2,x0,x1,x2,x3,x4,...,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20
0,1,1,-0.180460,-0.766667,-6.661338e-16,-1.110223e-15,-0.018439,-0.036025,-0.083322,-5.551115e-16,...,0.007172,-0.000978,-0.074079,-0.049563,-5.551115e-16,-0.057269,-9.992007e-16,-6.661338e-16,0.046535,0.047062
1,1,2,0.118391,-0.600000,-6.661338e-16,-1.110223e-15,-0.013435,-0.024398,-0.068452,-5.551115e-16,...,0.018559,-0.000769,-0.081858,-0.036953,-5.551115e-16,-0.057269,-9.992007e-16,-6.661338e-16,0.033271,0.048774
2,1,3,-0.594253,0.400000,-6.661338e-16,-1.110223e-15,-0.010402,-0.045403,-0.062246,-5.551115e-16,...,0.021130,-0.000937,-0.079960,-0.051305,-5.551115e-16,-0.101322,-9.992007e-16,-6.661338e-16,0.022217,0.019232
3,1,4,-0.019540,-0.100000,-6.661338e-16,-1.110223e-15,-0.010402,-0.073923,-0.075887,-5.551115e-16,...,0.029211,-0.000728,-0.079305,-0.102154,-5.551115e-16,-0.057269,-9.992007e-16,-6.661338e-16,0.006743,0.030282
4,1,5,-0.318391,-0.433333,-6.661338e-16,-1.110223e-15,-0.010099,-0.073594,-0.050419,-5.551115e-16,...,0.016906,-0.000895,-0.079338,-0.039413,-5.551115e-16,-0.035242,-9.992007e-16,-6.661338e-16,0.011164,0.041630

In [19]:
max(d['time'])

362

In [20]:
# check maxtimes...

resl = list(d.groupby('unitdex'))
maxtimes = np.zeros(len(resl), dtype = int)
for item in resl:
    unitdex, subset = item
    maxtimes[unitdex-1] = int(np.array(subset['time']).shape[0])

print ('min:', min(maxtimes), 'max:', max(maxtimes))
print (maxtimes)

min: 128 max: 362
[192 287 179 189 269 188 259 150 201 222 240 170 163 180 207 209 276 195
 158 234 195 202 168 147 230 199 156 165 163 194 234 191 200 195 181 158
 170 194 128 188 216 196 207 192 158 256 214 231 215 198 213 213 195 257
 193 275 137 147 231 172 185 180 174 283 153 202 313 199 362 137 208 213
 213 166 229 210 154 231 199 185 240 214 293 267 188 278 178 213 217 154
 135 341 155 258 283 336 202 156 185 200]

In [21]:
MAXT = int(np.max(maxtimes)) + 1

In [22]:
MAXT

363

In [23]:
NCOV = len(d.columns.values) - 2

In [24]:
NCOV

24

```
Time (-) till first event (x)

t    ... ... tmax
0    5   ... maxtime
|     -------x
|           -x
|------------x
```

In [25]:
def get_single(groupedby, intraining, verbose = 0):
    
    unitdex, subset = groupedby
    maxtimetemp = np.array(subset).shape[0]
    startat = MAXT - maxtimetemp
    
    subset = np.array(subset)
    subset[np.isnan(subset)] = 0

    # 4 = #(tse,tte,unc,pcs)
    datshape_single = (1, MAXT, 4+NCOV)

    # set up output
    out = np.empty(datshape_single)
    out[:] = nanis
    
    # load covariates data 
    out[0, startat:, 4:4+NCOV] = subset[:, 2:]

    
    # time series stuff
    # failure occured at final time step
    indicator = np.zeros(maxtimetemp+1)
    indicator[-1] = 1
    if verbose:
        print ('indicator:\n', indicator)

    # tse, tte
    tse, tte = tstf.tse(indicator), tstf.tte(indicator)
    if verbose:
        print ('tse:\n', tse)
        print ('tte:\n', tte)
        
    out[0, startat:, 0] = tse[:maxtimetemp]
    out[0, startat:, 1] = tte[:maxtimetemp]

    # unc
    # all observations in training are uncensored if intraining
    # arrival times are censored if otherwise (no impact)
    if intraining:
        out[0, startat:, 2] = 1
    else:
        out[0, startat:, 2] = 0
    #out[0, -1, 2] = 0

    # pcs
    # if pcs==0: loglike is 0
    out[0, startat:, 3] = 1

    if verbose:
        print ('testing single t=0:\n', out[0, 0, :])
        print ('testing single t=1:\n', out[0, 1, :])
        print ('testing single t=startat-1:\n', out[0, startat-1, :])
        print ('testing single t=startat:\n', out[0, startat, :])
        print ('testing single t=startat+1:\n', out[0, startat+1, :])
        print ('testing single t=-2:\n', out[0, -2, :])
        print ('testing single t=-1:\n', out[0, -1, :])
        
    return out

In [26]:
get_single(list(d.groupby('unitdex'))[0], intraining = True, verbose = 1)

indicator:
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 1.]
tse:
 [  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.
  15.  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.
  29.  30.  31.  32.  33.  34.  35.  36.  37.  38.  39.  40.  41.  42.
  43.  44.  45.  46.  47.  48.  49.  50.  51.  52.  53.  54.  55.  56.
  57.  58.  59.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.
  71.  72.  73.  74.  75.  76.  77.  78.  79.  80.  81.  82.  83.  84.
  85.  86.  87.  88.  89.  90.  91.  92.  93.  94.  95.  96.  97.  98.
  99. 100. 101. 102. 103. 104. 105. 106. 107. 108. 109. 110. 111. 112.
 113. 114. 115. 116. 117. 118. 119. 120. 121. 122. 123. 124. 125. 126.
 127. 128. 129. 130. 131. 132. 133. 134. 135. 136. 137. 138. 139. 140.
 141. 142. 143. 144. 145. 146. 147. 148. 149. 150. 151. 152. 153. 154.
 155. 156. 157. 158. 159. 160. 161. 162. 163. 164. 165. 166. 167. 168.
 169. 170. 171. 172. 173. 174. 175. 176. 177. 178. 179. 180. 181. 182.
 183. 184. 185. 186. 187. 188. 189. 190. 191. 192.   0.]
tte:
 [191. 190. 189. 188. 187. 186. 185. 184. 183. 182. 181. 180. 179. 178.
 177. 176. 175. 174. 173. 172. 171. 170. 169. 168. 167. 166. 165. 164.
 163. 162. 161. 160. 159. 158. 157. 156. 155. 154. 153. 152. 151. 150.
 149. 148. 147. 146. 145. 144. 143. 142. 141. 140. 139. 138. 137. 136.
 135. 134. 133. 132. 131. 130. 129. 128. 127. 126. 125. 124. 123. 122.
 121. 120. 119. 118. 117. 116. 115. 114. 113. 112. 111. 110. 109. 108.
 107. 106. 105. 104. 103. 102. 101. 100.  99.  98.  97.  96.  95.  94.
  93.  92.  91.  90.  89.  88.  87.  86.  85.  84.  83.  82.  81.  80.
  79.  78.  77.  76.  75.  74.  73.  72.  71.  70.  69.  68.  67.  66.
  65.  64.  63.  62.  61.  60.  59.  58.  57.  56.  55.  54.  53.  52.
  51.  50.  49.  48.  47.  46.  45.  44.  43.  42.  41.  40.  39.  38.
  37.  36.  35.  34.  33.  32.  31.  30.  29.  28.  27.  26.  25.  24.
  23.  22.  21.  20.  19.  18.  17.  16.  15.  14.  13.  12.  11.  10.
   9.   8.   7.   6.   5.   4.   3.   2.   1.   0.   0.]
testing single t=0:
 [-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.
 -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.]
testing single t=1:
 [-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.
 -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.]
testing single t=startat-1:
 [-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.
 -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.]
testing single t=startat:
 [ 1.00000000e+00  1.91000000e+02  1.00000000e+00  1.00000000e+00
 -1.80459770e-01 -7.66666667e-01 -6.66133815e-16 -1.11022302e-15
 -1.84390495e-02 -3.60248447e-02 -8.33221121e-02 -5.55111512e-16
  2.07804202e-03  1.87412779e-02 -8.48828992e-04 -9.57437258e-02
 -8.88178420e-16 -5.41986094e-02  7.17191475e-03 -9.78416304e-04
 -7.40792059e-02 -4.95625029e-02 -5.55111512e-16 -5.72687225e-02
 -9.99200722e-16 -6.66133815e-16  4.65347629e-02  4.70620189e-02]
testing single t=startat+1:
 [ 2.00000000e+00  1.90000000e+02  1.00000000e+00  1.00000000e+00
  1.18390805e-01 -6.00000000e-01 -6.66133815e-16 -1.11022302e-15
 -1.34350312e-02 -2.43977349e-02 -6.84515272e-02 -5.55111512e-16
  2.07804202e-03  8.29616185e-03 -9.32457464e-04 -9.78125311e-02
 -8.88178420e-16 -5.06329114e-02  1.85588216e-02 -7.69352991e-04
 -8.18581826e-02 -3.69527442e-02 -5.55111512e-16 -5.72687225e-02
 -9.99200722e-16 -6.66133815e-16  3.32706975e-02  4.87735003e-02]
testing single t=-2:
 [ 1.91000000e+02  1.00000000e+00  1.00000000e+00  1.00000000e+00
 -1.00000000e-01 -7.66666667e-01 -6.66133815e-16 -1.11022302e-15
  4.60976238e-03  3.34087450e-02  6.40371882e-02 -5.55111512e-16
  2.07804202e-03 -4.01623274e-02  7.10842013e-05 -9.90908967e-02
 -8.88178420e-16  6.70351221e-02 -3.12129811e-02  1.92338248e-04
 -1.00274610e-01  5.08029751e-02 -5.55111512e-16 -1.32158590e-02
 -9.99200722e-16 -6.66133815e-16 -8.83165690e-02 -6.06496932e-02]
testing single t=-1:
 [ 1.92000000e+02  0.00000000e+00  1.00000000e+00  1.00000000e+00
  3.44827586e-03 -1.00000000e-01 -6.66133815e-16 -1.11022302e-15
  7.64250080e-03  2.81984835e-02  7.24092104e-02 -5.55111512e-16
  2.07804202e-03 -3.45116908e-02  2.38341146e-04 -1.08400521e-01
 -8.88178420e-16  8.48636121e-02 -2.18463319e-02  2.75963573e-04
 -1.04289566e-01  4.45493549e-02 -5.55111512e-16  3.08370044e-02
 -9.99200722e-16 -6.66133815e-16 -8.16845363e-02 -1.21890964e-01]

array([[[-1.00000000e+00, -1.00000000e+00, -1.00000000e+00, ...,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00],
        [-1.00000000e+00, -1.00000000e+00, -1.00000000e+00, ...,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00],
        [-1.00000000e+00, -1.00000000e+00, -1.00000000e+00, ...,
         -1.00000000e+00, -1.00000000e+00, -1.00000000e+00],
        ...,
        [ 1.90000000e+02,  2.00000000e+00,  1.00000000e+00, ...,
         -6.66133815e-16, -7.94738587e-02, -8.37174865e-02],
        [ 1.91000000e+02,  1.00000000e+00,  1.00000000e+00, ...,
         -6.66133815e-16, -8.83165690e-02, -6.06496932e-02],
        [ 1.92000000e+02,  0.00000000e+00,  1.00000000e+00, ...,
         -6.66133815e-16, -8.16845363e-02, -1.21890964e-01]]])

In [27]:
mtrain = np.concatenate(list(map(lambda x: get_single(x, intraining=True), d.groupby('unitdex'))))

In [29]:
mtrain.shape

(100, 363, 28)

In [30]:
pickle.dump(mtrain, gzip.open('mlocaltrain.pkl', 'wb'))