In [1]:
import os
import pickle
import gzip
import pandas as pd
import numpy as np

In [2]:
import TimeSeriesTransforms as tstf

In [4]:
nanis = -1

```
1) unit number
2) time, in cycles
3) operational setting 1
4) operational setting 2
5) operational setting 3
6) sensor measurement 1
7) sensor measurement 2
...
26) sensor measurement 26
```

In [5]:
colnames = ['unitdex', 'time', 'control0', 'control1', 'control2',
            'x0', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9',
            'x10', 'x11', 'x12', 'x13', 'x14', 'x15', 'x16', 'x17', 'x18', 'x19',
            'x20', 'x21', 'x22', 'x23', 'x24', 'x25']

In [6]:
fnames = ['test_FD001.txt']

In [7]:
dlist = []
unitdexmax = 0
for fnametemp in fnames:
    dtemp = pd.read_csv(open(os.getcwd() + '/CMAPSSData/' + fnametemp),
                        header = None, sep = ' ', names = colnames)
    print ('fnametemp:', fnametemp, 'loaded', len(dtemp))
    
    if unitdexmax > 0:
        dtemp.loc[:, 'unitdex'] += unitdexmax
    unitdexmax = np.max(np.array(dtemp.loc[:, 'unitdex'], dtype = int))
    print ('unitdexmax:', unitdexmax)
    
    dlist.append(dtemp.copy())
d = pd.concat(dlist)

fnametemp: test_FD001.txt loaded 13096
unitdexmax: 100

In [8]:
d.head(5)

,unitdex,time,control0,control1,control2,x0,x1,x2,x3,x4,...,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,392,2388,100.0,38.86,23.3735,NaN,NaN,NaN,NaN,NaN
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,393,2388,100.0,39.02,23.3916,NaN,NaN,NaN,NaN,NaN
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,393,2388,100.0,39.08,23.4166,NaN,NaN,NaN,NaN,NaN
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,391,2388,100.0,39.00,23.3737,NaN,NaN,NaN,NaN,NaN
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,390,2388,100.0,38.99,23.4130,NaN,NaN,NaN,NaN,NaN

In [9]:
d.tail(5)

,unitdex,time,control0,control1,control2,x0,x1,x2,x3,x4,...,x16,x17,x18,x19,x20,x21,x22,x23,x24,x25
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,394,2388,100.0,38.65,23.1974,NaN,NaN,NaN,NaN,NaN
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,395,2388,100.0,38.57,23.2771,NaN,NaN,NaN,NaN,NaN
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,395,2388,100.0,38.62,23.2051,NaN,NaN,NaN,NaN,NaN
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,395,2388,100.0,38.66,23.2699,NaN,NaN,NaN,NaN,NaN
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,396,2388,100.0,38.70,23.1855,NaN,NaN,NaN,NaN,NaN

In [10]:
for colname in colnames:
    print ('colname:', colname, 'has non-nan value counts:', np.sum(1-np.isnan(np.array(d[colname]))))

colname: unitdex has non-nan value counts: 13096
colname: time has non-nan value counts: 13096
colname: control0 has non-nan value counts: 13096
colname: control1 has non-nan value counts: 13096
colname: control2 has non-nan value counts: 13096
colname: x0 has non-nan value counts: 13096
colname: x1 has non-nan value counts: 13096
colname: x2 has non-nan value counts: 13096
colname: x3 has non-nan value counts: 13096
colname: x4 has non-nan value counts: 13096
colname: x5 has non-nan value counts: 13096
colname: x6 has non-nan value counts: 13096
colname: x7 has non-nan value counts: 13096
colname: x8 has non-nan value counts: 13096
colname: x9 has non-nan value counts: 13096
colname: x10 has non-nan value counts: 13096
colname: x11 has non-nan value counts: 13096
colname: x12 has non-nan value counts: 13096
colname: x13 has non-nan value counts: 13096
colname: x14 has non-nan value counts: 13096
colname: x15 has non-nan value counts: 13096
colname: x16 has non-nan value counts: 13096
colname: x17 has non-nan value counts: 13096
colname: x18 has non-nan value counts: 13096
colname: x19 has non-nan value counts: 13096
colname: x20 has non-nan value counts: 13096
colname: x21 has non-nan value counts: 0
colname: x22 has non-nan value counts: 0
colname: x23 has non-nan value counts: 0
colname: x24 has non-nan value counts: 0
colname: x25 has non-nan value counts: 0

In [11]:
d = d.loc[:, d.columns.values[:26]]

In [12]:
for colntemp in d.columns.values[2:]:
    coltemp = d.loc[:, colntemp]
    print (min(coltemp), max(coltemp))

-0.0082 0.0078
-0.0006 0.0007
100.0 100.0
518.67 518.67
641.13 644.3
1569.04 1607.55
1384.39 1433.36
14.62 14.62
21.6 21.61
550.88 555.84
2387.89 2388.3
9024.53 9155.03
1.3 1.3
46.8 48.26
519.38 523.76
2387.89 2388.32
8108.5 8220.48
8.3328 8.5414
0.03 0.03
389 397
2388 2388
100.0 100.0
38.31 39.41
22.9354 23.6419

In [13]:
dscaling = pickle.load(gzip.open('dscaling.pkl4', 'rb'))

In [14]:
for colname in dscaling.index.values:
    mintemp = .9*dscaling.loc[colname, 'min']
    maxtemp = 1.1*dscaling.loc[colname, 'max']
    rangetemp = maxtemp - mintemp
    d.loc[:, colname] = 2*((d.loc[:, colname] - mintemp) / rangetemp) - 1

In [15]:
d.head(5)

,unitdex,time,control0,control1,control2,x0,x1,x2,x3,x4,...,x11,x12,x13,x14,x15,x16,x17,x18,x19,x20
0,1,1,0.164368,0.400000,-6.661338e-16,-1.110223e-15,-0.000243,-0.060211,-0.097315,-5.551115e-16,...,0.008274,-0.000937,-0.088339,-0.064223,-5.551115e-16,-0.057269,-9.992007e-16,-6.661338e-16,0.002321,0.030133
1,1,2,-0.410345,-0.600000,-6.661338e-16,-1.110223e-15,-0.020107,-0.042880,-0.113649,-5.551115e-16,...,0.016355,-0.000811,-0.072988,-0.089750,-5.551115e-16,-0.035242,-9.992007e-16,-6.661338e-16,0.037692,0.036868
2,1,3,-0.065517,0.066667,-6.661338e-16,-1.110223e-15,-0.008734,-0.051162,-0.078990,-5.551115e-16,...,0.012865,-0.000937,-0.083375,-0.024343,-5.551115e-16,-0.035242,-9.992007e-16,-6.661338e-16,0.050956,0.046169
3,1,4,0.382759,-0.100000,-6.661338e-16,-1.110223e-15,-0.009038,-0.066628,-0.049249,-5.551115e-16,...,0.002029,-0.000853,-0.080320,-0.078063,-5.551115e-16,-0.079295,-9.992007e-16,-6.661338e-16,0.033271,0.030208
4,1,5,0.060920,-0.100000,-6.661338e-16,-1.110223e-15,-0.007976,-0.049791,-0.075594,-5.551115e-16,...,0.016171,-0.000937,-0.083986,-0.066376,-5.551115e-16,-0.101322,-9.992007e-16,-6.661338e-16,0.031060,0.044830

In [16]:
# check maxtimes...

resl = list(d.groupby('unitdex'))
maxtimes = np.zeros(len(resl), dtype = int)
for item in resl:
    unitdex, subset = item
    maxtimes[unitdex-1] = int(np.array(subset['time']).shape[0])

print ('min:', min(maxtimes), 'max:', max(maxtimes))
print (maxtimes)

min: 31 max: 303
[ 31  49 126 106  98 105 160 166  55 192  83 217 195  46  76 113 165 133
 135 184 148  39 130 186  48  76 140 158 171 143 196 145  50 203 198 126
 121 125  37 133 123 156 172  54 152 146  73  78 303  74 144 189 164 121
 113 136 160 176  94 147 159 232 155 168  71 147  71 187  54 152  68 131
 112 137  88 205 162  72 101 133 213 162  73 172  34 110  56  68 177 146
 234 150 244 133  89  97 134 121  97 198]

In [17]:
MAXT = int(np.max(maxtimes)) + 1

In [18]:
MAXT

304

In [19]:
NCOV = len(d.columns.values) - 2

In [20]:
NCOV

24

```
Time (-) till first event (x)

t    ... ... tmax
0    5   ... maxtime
|     -------x
|           -x
|------------x
```

In [21]:
def get_single(groupedby, intraining, verbose = 0):
    
    unitdex, subset = groupedby
    maxtimetemp = np.array(subset).shape[0]
    startat = MAXT - maxtimetemp
    
    subset = np.array(subset)
    subset[np.isnan(subset)] = 0

    # 4 = #(tse,tte,unc,pcs)
    datshape_single = (1, MAXT, 4+NCOV)

    # set up output
    out = np.empty(datshape_single)
    out[:] = nanis
    
    # load covariates data 
    out[0, startat:, 4:4+NCOV] = subset[:, 2:]

    
    # time series stuff
    # failure occured at final time step
    indicator = np.zeros(maxtimetemp+1)
    indicator[-1] = 1
    if verbose:
        print ('indicator:\n', indicator)

    # tse, tte
    tse, tte = tstf.tse(indicator), tstf.tte(indicator)
    if verbose:
        print ('tse:\n', tse)
        print ('tte:\n', tte)
        
    out[0, startat:, 0] = tse[:maxtimetemp]
    out[0, startat:, 1] = tte[:maxtimetemp]

    # unc
    # all observations in training are uncensored if intraining
    # arrival times are censored if otherwise (no impact)
    if intraining:
        out[0, startat:, 2] = 1
    else:
        out[0, startat:, 2] = 0
    #out[0, -1, 2] = 0

    # pcs
    # if pcs==0: loglike is 0
    out[0, startat:, 3] = 1

    if verbose:
        print ('testing single t=0:\n', out[0, 0, :])
        print ('testing single t=1:\n', out[0, 1, :])
        print ('testing single t=startat-1:\n', out[0, startat-1, :])
        print ('testing single t=startat:\n', out[0, startat, :])
        print ('testing single t=startat+1:\n', out[0, startat+1, :])
        print ('testing single t=-2:\n', out[0, -2, :])
        print ('testing single t=-1:\n', out[0, -1, :])
        
    return out

In [22]:
get_single(list(d.groupby('unitdex'))[0], intraining = False, verbose = 1)

indicator:
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.]
tse:
 [  1.   2.   3.   4.   5.   6.   7.   8.   9.  10.  11.  12.  13.  14.  15.
  16.  17.  18.  19.  20.  21.  22.  23.  24.  25.  26.  27.  28.  29.  30.
  31.   0.]
tte:
 [ 30.  29.  28.  27.  26.  25.  24.  23.  22.  21.  20.  19.  18.  17.  16.
  15.  14.  13.  12.  11.  10.   9.   8.   7.   6.   5.   4.   3.   2.   1.
   0.   0.]
testing single t=0:
 [-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.
 -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.]
testing single t=1:
 [-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.
 -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.]
testing single t=startat-1:
 [-1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.
 -1. -1. -1. -1. -1. -1. -1. -1. -1. -1.]
testing single t=startat:
 [  1.00000000e+00   3.00000000e+01   0.00000000e+00   1.00000000e+00
   1.64367816e-01   4.00000000e-01  -6.66133815e-16  -1.11022302e-15
  -2.42619073e-04  -6.02114269e-02  -9.73145129e-02  -5.55111512e-16
   2.07804202e-03   1.08646330e-02  -9.32457464e-04  -9.18598365e-02
  -8.88178420e-16  -1.02335532e-01   8.27387348e-03  -9.36603641e-04
  -8.83388448e-02  -6.42226289e-02  -5.55111512e-16  -5.72687225e-02
  -9.99200722e-16  -6.66133815e-16   2.32121145e-03   3.01332351e-02]
testing single t=startat+1:
 [  2.00000000e+00   2.90000000e+01   0.00000000e+00   1.00000000e+00
  -4.10344828e-01  -6.00000000e-01  -6.66133815e-16  -1.11022302e-15
  -2.01070557e-02  -4.28804519e-02  -1.13648738e-01  -5.55111512e-16
   2.07804202e-03   2.71316170e-02  -1.05790017e-03  -8.77124673e-02
  -8.88178420e-16  -4.88500624e-02   1.63549042e-02  -8.11165653e-04
  -7.29881853e-02  -8.97497014e-02  -5.55111512e-16  -3.52422907e-02
  -9.99200722e-16  -6.66133815e-16   3.76920526e-02   3.68675425e-02]
testing single t=-2:
 [  3.00000000e+01   1.00000000e+00   0.00000000e+00   1.00000000e+00
  -3.87356322e-01   5.66666667e-01  -6.66133815e-16  -1.11022302e-15
  -3.73026825e-03  -5.78530980e-02  -8.11559245e-02  -5.55111512e-16
   2.07804202e-03   1.42892612e-02  -7.23386284e-04  -9.45141528e-02
  -8.88178420e-16  -6.66785523e-02   9.37583221e-03  -6.43915003e-04
  -7.82578147e-02  -5.82765638e-02  -5.55111512e-16  -7.92951542e-02
  -9.99200722e-16  -6.66133815e-16   5.31667956e-02   4.25600786e-02]
testing single t=-1:
 [  3.10000000e+01   0.00000000e+00   0.00000000e+00   1.00000000e+00
  -1.68965517e-01   5.66666667e-01  -6.66133815e-16  -1.11022302e-15
  -6.91464358e-03  -8.25332840e-02  -9.32163202e-02  -5.55111512e-16
   2.07804202e-03   1.97686664e-02  -7.65200520e-04  -8.57802812e-02
  -8.88178420e-16  -9.69869852e-02   9.55949200e-03  -8.11165653e-04
  -8.33637910e-02  -6.70931431e-02  -5.55111512e-16  -3.52422907e-02
  -9.99200722e-16  -6.66133815e-16  -8.73217641e-03   2.33245155e-02]

array([[[ -1.00000000e+00,  -1.00000000e+00,  -1.00000000e+00, ...,
          -1.00000000e+00,  -1.00000000e+00,  -1.00000000e+00],
        [ -1.00000000e+00,  -1.00000000e+00,  -1.00000000e+00, ...,
          -1.00000000e+00,  -1.00000000e+00,  -1.00000000e+00],
        [ -1.00000000e+00,  -1.00000000e+00,  -1.00000000e+00, ...,
          -1.00000000e+00,  -1.00000000e+00,  -1.00000000e+00],
        ...,
        [  2.90000000e+01,   2.00000000e+00,   0.00000000e+00, ...,
          -6.66133815e-16,   3.76920526e-02,   2.58917376e-02],
        [  3.00000000e+01,   1.00000000e+00,   0.00000000e+00, ...,
          -6.66133815e-16,   5.31667956e-02,   4.25600786e-02],
        [  3.10000000e+01,   0.00000000e+00,   0.00000000e+00, ...,
          -6.66133815e-16,  -8.73217641e-03,   2.33245155e-02]]])

In [23]:
mtest = np.concatenate(list(map(lambda x: get_single(x, intraining=False), d.groupby('unitdex'))))

In [24]:
pickle.dump(mtest, gzip.open('mlocaltest.pkl', 'wb'))

In [25]:
fnames = ['RUL_FD001.txt'] #, 'RUL_FD002.txt', 'RUL_FD003.txt', 'RUL_FD004.txt']
#fnames = ['RUL_FD001.txt', 'RUL_FD002.txt', 'RUL_FD003.txt', 'RUL_FD004.txt']

In [26]:
rullist = []
for fnametemp in fnames:
    dtemp = pd.read_csv(open(cwd + '/CMAPSSData/' + fnametemp), header = None, sep = ' ')
    rullist.append(dtemp.copy())
rul = np.array(pd.concat(rullist))[:,0]

In [27]:
pickle.dump(rul, gzip.open('rul.pkl', 'wb'))